@font-face {
    font-family: 'SutonnyMJ';
    src: url('./assets/fonts/SutonnyMJ/SutonnyMJ.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SulekhaT';
    src: url('./assets/fonts/SulekhaT/SulekhaT.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'VillageII';
    src: url('./assets/fonts/VillageII/VILLIEB_.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700&display=swap') format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  }